<ion-tabs>
  <ion-button shape="round" color="success" (click)="reloadWeek()">
    <ion-icon name="refresh-circle-outline"></ion-icon> &nbsp;
    Reiniciar semana
  </ion-button>
  <br/>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="monday">
      <ion-label>Seg</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tuesday">
      <ion-label>Ter</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="wednesday">
      <ion-label>Qua</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="thursday">
      <ion-label>Qui</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
